streamlit==1.63.0
pandas==3.0.5
numpy==2.5.3
plotly==7.0.0
country-converter==1.3.2
scipy==1.18.1
genderComputer @ git+https://github.com/tue-mdse/genderComputer.git@f6267615517913e53cb0b882b248f1c2e11b8bbc
